<div class="content">
  <input
    type="text"
    [(ngModel)]="searchQuery"
    (input)="onSearchInput()"
    placeholder="Search users..."
  />
  <p *ngIf="message">{{ message }}</p>
  <ul *ngIf="users.length">
    <li *ngFor="let user of users">
      <a [routerLink]="['/profile', user.id]" class="user-link">{{
        user.userName
      }}</a>
      <button class="add-btn" (click)="sendRequest(user.id)">Add</button>
    </li>
  </ul>

  <div *ngIf="showInviteMessage" class="invite-section">
    <p>No users found with that username.</p>
    <p>Would you like to invite them to join Habit Tracker?</p>
    <app-share-button *ngIf="shareData" [share]="shareData"></app-share-button>
  </div>
</div>
