<div class="cheer-display" *ngIf="cheers.length > 0">
  <div class="cheer-header">
    <span class="cheer-icon">🎉</span>
    <span class="cheer-count"
      >{{ cheers.length }} cheer{{ cheers.length !== 1 ? "s" : "" }}</span
    >
  </div>

  <div class="cheer-list" [class.expanded]="showAll">
    <div
      *ngFor="let cheer of displayedCheers; trackBy: trackByCheer"
      class="cheer-item"
    >
      <div class="cheer-content">
        <span class="cheer-emoji">{{ cheer.emoji }}</span>
        <div class="cheer-details">
          <div class="cheer-message">{{ cheer.message }}</div>
          <div class="cheer-meta">
            <span class="cheer-from"
              >from
              <a
                [routerLink]="['/profile', cheer.fromUserId]"
                class="user-link"
                >{{ cheer.fromUsername }}</a
              ></span
            >
            <span class="cheer-time">{{ getTimeAgo(cheer.timestamp) }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button
    *ngIf="cheers.length > 3"
    class="show-more-btn"
    (click)="toggleShowAll()"
  >
    {{ showAll ? "Show less" : "Show all (" + cheers.length + ")" }}
  </button>
</div>
