<div class="today">
  <div class="page-header">
    <h2>📅 Today's Habits</h2>
  </div>

  <div class="view-options">
    <a
      (click)="setView('remaining')"
      [class.active]="currentView === 'remaining'"
      >See Remaining</a
    >
    |
    <a (click)="setView('all')" [class.active]="currentView === 'all'"
      >See All</a
    >
    |
    <a (click)="setView('done')" [class.active]="currentView === 'done'"
      >See Done</a
    >
  </div>

  <div
    *ngIf="filteredHabits.length === 0 && currentView === 'remaining'"
    class="done-message"
  >
    <p>🎉 Great job! You've completed all your tasks for today! 🎉</p>
    <p>Enjoy your day or keep up the streak tomorrow! 🌟</p>
  </div>

  <div *ngFor="let habit of filteredHabits" class="habit-item">
    <div class="habit-header">
      <!-- Binary Task Checkbox -->
      <label class="checkbox-container" *ngIf="habit.goalType === 'binary'">
        <input
          type="checkbox"
          [checked]="isHabitDoneToday(habit)"
          (change)="toggleHabitCompletion(habit, $event)"
        />
      </label>

      <!-- Habit Name -->
      <p class="habit-name">{{ habit.name }}</p>

      <!-- Streak Display -->
      <span class="streak-badge" *ngIf="habit.streak !== undefined">
        🔥 {{ habit.streak }} {{ getStreakPeriod(habit.frequency) }}
      </span>

      <!-- Numeric Task Buttons -->
      <button
        *ngIf="habit.goalType === 'numeric'"
        class="icon-button plus"
        (click)="incrementProgress(habit)"
      >
        +
      </button>
      <button
        *ngIf="habit.goalType === 'numeric'"
        class="icon-button minus"
        (click)="decrementProgress(habit)"
      >
        -
      </button>
    </div>

    <!-- Numeric Task Progress Bar -->
    <div *ngIf="habit.goalType === 'numeric'" class="progress-row">
      <div class="progress-container">
        <div
          class="progress-bar"
          [style.width.%]="getProgressPercentage(habit)"
        ></div>
      </div>
      <span class="progress-text"
        >{{ habit.currentValue || 0 }} / {{ habit.targetValue }}
        {{ getProgressPeriod(habit.frequency) }}</span
      >
    </div>
  </div>

  <button class="fab" routerLink="/add-habit">+</button>
</div>
